@media (max-width: 1200px){
    .projects{
        height: 600px;
        max-height: 600px;
        /*grid-template-columns: 150px auto 150px;*/
        grid-template-columns: auto 450px auto;
    }
    .projectsContent{

    }
    .projectsContainer{
        max-width: 450px;
    }
    .project{
        min-width: 450px;
        max-width: 450px;
        min-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .projectLeft{
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .projectRight{

    }
    h2{
       margin-bottom: 30px;
    }
    .project img{
        max-width: 440px;
    }
    iframe{
        max-width: 440px;
        height: 400px;
    }
}