.header{
    background-image: linear-gradient(180deg, #2f5cff 0%, rgba(0, 56, 255, 0) 100%);
    padding-top:2rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}
.header:hover{
    background-image: linear-gradient(180deg, #2f5cff 0%, rgb(13, 13, 13, 0.90) 98%), url("images/Code BG.png");
    transition: 2s;
}
.headerContent{
    max-width: 50rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 250px;
}
h1{
    font-size: 75px;
    line-height: 75px;
    font-weight: 400;
}
.infoLeft{
    width: fit-content;
    margin-top: 40px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.socials img{
    width: auto;
    height: 60px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    transition: 0.5s;
}
.socials img:hover{
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.55));
}
.socials img:active{
    scale: 0.9;
    transition: 0.25s;
}
.headerRight{
    height: 250px;
}
.headerRight img{
    width: auto;
    height: 250px;
    margin-right: 4px;
    filter: drop-shadow(0px 3px 5px rgba(255, 255, 255, 0.5));
    transform: matrix(-1, 0, 0, 1, 0, 0);
    opacity: .72;
}


@media (max-width: 1200px){
    .headerContent{
        max-width: 450px;
    }
    .infoLeft{
        margin-top: 20px;
        width: 100%;
    }
    .header{
        text-align: center;
    }
    .headerRight{
        display: none;
    }
    .role{
       width: 100%;
       margin-bottom: 20px;
       text-align: center;
    }
}