:root{

}

* {
    margin: 0px;
    padding: 0px;
    
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    /*line-height:0;*/
 }

body{
    background: black;
    min-width: 690px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

section{

}

h2{
    font-weight: 400;
    font-size: 38px;
    width: 100%;
}

a{
    /*color: rgb(0, 200, 255);*/
    color: #6183ff;
}