.projects{
    height: 430px;
    max-height: 430px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectsContent{
    max-width: 50rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonSpacer{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.projectsContainer{
    max-width: 900px;
    padding: 5px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow: hidden;
    /*position: relative;*/
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.project{
    max-width: 900px;
    width: 900px;
    height: 100%;
    margin-right: 200px;
    
    flex-shrink: 0;

    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;*/
    /*box-sizing: border-box;*/
    /*transform-origin: center center;*/
    scroll-snap-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.projectLeft{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 30px;   
}
.projectRight{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project  img{
    width: 100%;
    max-height: 393px;
    height: auto;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
   
}


h4{
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 20px;
}
.arrow{
    cursor: pointer;
    display: block;
    background-color: rgb(57, 57, 57);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border-width: 0;
    padding: 15px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}

.arrow img{
    height: 45px;
    width: 45px;
    opacity: 0.68;
    transition: 0.5s;
}
.arrow:hover{
    transition: 0.5s;
    scale: 0.98;
    filter: drop-shadow(0px 0px 9px rgba(255, 255, 255, 0.6));
}
.arrow:active img{
    transform: translateX(-12px);
    transition: 0.22s;
}

#rightArrow{
    rotate: 180deg;
}
iframe{
    border: 0;
    outline: 0;
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.2));
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px){
    .projects{
        height: 600px;
        max-height: 600px;
    }
    .projectsContent{
        max-width: none;
        width: 100%;
    }
    .projectsContainer{
        
    }
    .project{
        display: flex;
        flex-direction: columns;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .projectLeft{
        padding-right: 0px;
    }
    .projectRight{
        padding-left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        margin-bottom: 5px;
    }
    .project img{
        margin-top: 10px; 
        height: 100%;
        width: auto;
    }
    iframe{
        margin-top: 10px; 
        width: 100%;
    }
}