:root{
    color-scheme: dark;
}
* {
    margin: 0px;
    padding: 0px;
    
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
 }
 body{
    background: rgb(20, 20, 20);
    min-width: 690px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}
h1{
    font-size: 75px;
    font-weight: 400;
    text-align: left;
    max-width: 50rem;
    width: 100%;
}
h2{
    font-weight: 400;
    font-size: 32px;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
h3{
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 0.8rem;
    padding-top: 0.5rem;
    padding-left: 0.2rem;
    transition: opacity 0.2s;
    white-space: nowrap;
    overflow: hidden;
}

#header{
    background-image: linear-gradient(180deg, #2f5cffe7 0%, rgba(0, 56, 255, 0) 100%);
    /*background-image: linear-gradient(180deg, #2f5cffc0 0%, rgb(13, 13, 13, 1) 100%), url("../images/BG.jpg");
    background-position: center;*/
    height: 20rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#headerInfo{
    margin-top: 5rem;
    width: 100%;
    max-width: 50rem;
}
#filters{
    margin-top: 5rem;
    max-width: 50rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}
#filterIcon{
    height: 30px;
    width: 30px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    cursor: pointer;
}
.filter{
    height: 40px;
    padding: 0px 15px;
    border: 4px solid rgba(0, 0, 0, 0.809);
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.868);
    background-color: rgba(0, 0, 0, 0.304);
    transition: 0.3s;
    position: relative;
    right: -70px; 
    opacity: 0;
    visibility: hidden;
}
.filters-visible .filter {
    right: 0;
    opacity: 1; 
    visibility: visible;
}
.filter:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
.filter:active , .filter.clicked{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
    background-color: rgba(255, 255, 255, 0);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    z-index: 1;
}
.year{
    max-width: 50rem;
    width: 100%;
}
.projectsContainer{
    max-width: 50rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0rem 1rem;
    /*gap: 1rem, 0.4rem;*/
}
.project{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
    background-color: rgba(14, 14, 14, 0.8);
    padding: 0.35rem;
    border-radius: 10px;
    width: 275px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;   
    transition: 0.5s;
    position: relative;
    opacity: 1;
}
.project.filtered{
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px; 
    opacity: 0;
}
.project:hover{
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.8));
    transition: 0.7s;
}
.projectInfo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}
img{
    border-radius: 2px 2px 10px 10px;
    max-width: 300px;
    height: 200px;
    width: auto;
    object-fit: cover;
    /*object-fit: scale-down;*/
    transition: 0.3s;
}
#infoP{
    /*word-break: break-all;*/
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4rem;
}
.summaryButton{
    position: absolute;
    top: 0;
    right: 0;
    background: url("./images/angle-down.svg");
    transform: rotate('-90deg');
    filter: invert(100%);
    height: 22px;
    width: 20px;
    margin: 16px;
    border: 0;
    transition: transform 0.75s cubic-bezier(0.22, 1, 0.22, 1);
}
.summaryButton:hover{
    cursor: pointer;
}
a{
    color: #7998ff;
}
#BGmiddle{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff7a, rgba(255, 255, 255, 0));
    height: 50rem;
    position: absolute;
    top: 143.5rem;
    left: 0;
    right: 0;
    z-index: 0;  
}
#footer{
    background: linear-gradient(180deg, rgba(0, 56, 255, 0) 0%, #2f5cffc2 100%);
    height: 43rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
#backButton{
    margin-top: 7rem;
    width: 8rem;
    height: 2.8rem;
    border: 5px solid black;
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.868);
    transition: 0.25s;
}
#backButton:hover{
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.9));
    transition: 0.3s;
}
#backButton:active{
    scale: 0.97;
    transition: 0.25s;
}


@media (max-width: 1200px){
    #headerInfo{
        max-width: 450px;
    }
    h1{
        max-width: 450px;
    }
    h3{
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 0.4rem;
        padding-top: 0.3rem;
    }
    .year{
        max-width: 450px;
    }
    .projectsContainer{
        max-width: 450px;
    }
    .project{
        width: 200px;
        height: 198px;
        margin-bottom: 1rem;
        padding: 0.3rem;
    }
    img{
        max-width: 200px;
        height: 158px;
    }
    #infoP{
        font-size: 14px;
        line-height: 20px;
    }
    .summaryButton{
        height: 18px;
        width: 16px;
        margin-top: 15px;
        margin-right: 9px;
    }
    #BGmiddle{
        top: 175.5rem;
    }
}